In [2]:
import pandas as pd
import numpy

# save file score_combined.csv from teams to local machine and add path
zip_df = pd.read_csv('/Users/ryanrowland/Desktop/Courses/CSE 6242/Project Files/Combined/scores_combined.csv')

/var/folders/ys/c2dbyzds2_b7x3_kzk0x3tnc0000gn/T/ipykernel_67152/1419327332.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
display(zip_df)

,Unnamed: 0,FIPS,County,State,HWBI_Score,C2N_Bio_Score,CF_AP_Score,Economic_Capital_Investment_Score,Economic_Consumption_Score,Economic_Employment_Score,...,LST_WRK_Score,SAS_ACTS_Score,SAS_PERS_Score,SAS_RISK_Score,Domain_Score_y,SC_ATC_Score,SC_DME_Score,SC_FAM_Score,SC_SENG_Score,SC_SSUP_Score
0,0,40151,Woods,Oklahoma,55.161194,34.720764,69.829790,59.199260,52.805008,64.801077,...,58.395634,68.652133,80.909091,42.794208,58.408205,62.323692,53.302439,50.738621,62.578540,63.097732
1,1,21063,Elliott,Kentucky,53.100766,84.781353,34.335369,57.939995,50.859656,50.072366,...,57.392366,77.005700,45.555556,43.026794,48.532654,57.947043,49.275126,47.235705,50.173505,38.031892
2,2,25003,Berkshire,Massachusetts,50.232821,57.364983,45.138996,59.207243,51.999767,61.058429,...,48.362162,66.246042,62.815534,43.139662,40.445938,45.339824,43.461534,35.074866,31.322056,47.031408
3,3,29041,Chariton,Missouri,52.413235,20.823386,68.858149,59.456203,52.995878,61.578123,...,52.923858,74.634952,74.615385,43.260743,65.578619,78.667534,58.443685,54.325974,76.726305,59.729598
4,4,8103,Rio Blanco,Colorado,48.078107,10.000000,60.489579,58.507754,52.222324,63.527580,...,61.199105,62.683754,83.750000,58.131761,68.838259,76.434219,62.605339,56.294045,84.049649,64.808043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,15413,13123,Gilmer,Georgia,49.914918,90.000000,37.004510,58.440963,51.036026,53.932548,...,40.636763,74.546238,62.727273,59.478518,36.994277,52.997193,43.310720,34.779071,30.044315,23.840088
3138,15414,27135,Roseau,Minnesota,55.850705,27.772075,67.782302,59.164270,52.739182,51.116989,...,60.289013,80.718117,78.461538,53.153550,66.207569,68.103983,56.080726,61.465169,82.125018,63.262951
3139,15415,28089,Madison,Mississippi,49.612078,57.364983,37.478640,58.244304,50.972423,63.619362,...,50.454337,72.150347,66.404494,57.137027,40.765040,44.417993,44.104674,35.570422,27.447950,52.284162
3140,15416,48227,Howard,Texas,48.845005,20.823386,61.585942,59.047781,51.892534,60.885290,...,60.098022,67.055296,50.714286,40.962622,62.054417,71.032446,54.109425,52.044352,75.341990,57.743871
3141,15417,54099,Wayne,West Virginia,50.374963,57.364983,44.233455,59.216921,52.006527,59.208785,...,48.024025,69.957336,54.615385,51.683118,42.842216,45.318001,45.359226,45.675735,34.407751,43.450367

In [36]:
import sklearn
from sklearn.neighbors import NearestNeighbors
from sklearn import cluster
import numpy as np

In [37]:
num_features = zip_df[['HWBI_Score', 'C2N_Bio_Score',
       'CF_AP_Score', 'Economic_Capital_Investment_Score',
       'Economic_Consumption_Score', 'Economic_Employment_Score',
       'Economic_Finance_Score', 'Economic_Innovation_Score',
       'Economic_Production_Score', 'Economic_Re_Distribution_Score',
       'Ecosystem_Air_Quality_Score',
       'Ecosystem_Food__Fiber_and_Fuel_Provisioning_Score',
       'Ecosystem_Greenspace_Score', 'Ecosystem_Water_Quality_Score',
       'Ecosystem_Water_Quantity_Score', 'EDU_BE_Score', 'EDU_PA_Score',
       'EDU_SED_Score', 'HEA_HC_Score', 'HEA_LEM_Score', 'HEA_LB_Score',
       'HEA_PWB_Score', 'HEA_PMHC_Score', 'Domain_Score_x', 'LTM_AP_Score',
       'LTM_TS_Score', 'LTM_WAA_Score', 'LST_BN_Score', 'LST_INC_Score',
       'LST_WEA_Score', 'LST_WRK_Score', 'SAS_ACTS_Score', 'SAS_PERS_Score',
       'SAS_RISK_Score', 'Domain_Score_y', 'SC_ATC_Score', 'SC_DME_Score',
       'SC_FAM_Score', 'SC_SENG_Score', 'SC_SSUP_Score']]

In [38]:
#print(zip_df.columns)

In [39]:
dataset_array = num_features.values
print(dataset_array.dtype)
print(dataset_array)

float64
[[55.161194   34.7207638  69.82978987 ... 50.73862084 62.57853999
  63.0977316 ]
 [53.100766   84.78135263 34.33536852 ... 47.23570513 50.17350504
  38.0318917 ]
 [50.232821   57.36498253 45.13899597 ... 35.07486623 31.32205617
  47.03140826]
 ...
 [49.612078   57.36498253 37.47864036 ... 35.57042246 27.44795028
  52.28416216]
 [48.845005   20.82338596 61.58594226 ... 52.04435226 75.3419901
  57.74387148]
 [50.374963   57.36498253 44.2334555  ... 45.67573504 34.40775077
  43.45036745]]

In [42]:
# Convert DataFrame to matrix
mat = dataset_array
# Using sklearn
km = sklearn.cluster.KMeans(n_clusters=5)
km.fit(mat)
# Get cluster assignment labels
labels = km.labels_
# Format results as a DataFrame
results = pd.DataFrame([zip_df.index,labels]).T

In [44]:
display(labels)

array([3, 4, 0, ..., 4, 1, 4], dtype=int32)

In [45]:
zip_df["cluster5"] = labels

In [46]:
display(zip_df)

,Unnamed: 0,FIPS,County,State,HWBI_Score,C2N_Bio_Score,CF_AP_Score,Economic_Capital_Investment_Score,Economic_Consumption_Score,Economic_Employment_Score,...,SAS_ACTS_Score,SAS_PERS_Score,SAS_RISK_Score,Domain_Score_y,SC_ATC_Score,SC_DME_Score,SC_FAM_Score,SC_SENG_Score,SC_SSUP_Score,cluster5
0,0,40151,Woods,Oklahoma,55.161194,34.720764,69.829790,59.199260,52.805008,64.801077,...,68.652133,80.909091,42.794208,58.408205,62.323692,53.302439,50.738621,62.578540,63.097732,3
1,1,21063,Elliott,Kentucky,53.100766,84.781353,34.335369,57.939995,50.859656,50.072366,...,77.005700,45.555556,43.026794,48.532654,57.947043,49.275126,47.235705,50.173505,38.031892,4
2,2,25003,Berkshire,Massachusetts,50.232821,57.364983,45.138996,59.207243,51.999767,61.058429,...,66.246042,62.815534,43.139662,40.445938,45.339824,43.461534,35.074866,31.322056,47.031408,0
3,3,29041,Chariton,Missouri,52.413235,20.823386,68.858149,59.456203,52.995878,61.578123,...,74.634952,74.615385,43.260743,65.578619,78.667534,58.443685,54.325974,76.726305,59.729598,1
4,4,8103,Rio Blanco,Colorado,48.078107,10.000000,60.489579,58.507754,52.222324,63.527580,...,62.683754,83.750000,58.131761,68.838259,76.434219,62.605339,56.294045,84.049649,64.808043,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,15413,13123,Gilmer,Georgia,49.914918,90.000000,37.004510,58.440963,51.036026,53.932548,...,74.546238,62.727273,59.478518,36.994277,52.997193,43.310720,34.779071,30.044315,23.840088,2
3138,15414,27135,Roseau,Minnesota,55.850705,27.772075,67.782302,59.164270,52.739182,51.116989,...,80.718117,78.461538,53.153550,66.207569,68.103983,56.080726,61.465169,82.125018,63.262951,1
3139,15415,28089,Madison,Mississippi,49.612078,57.364983,37.478640,58.244304,50.972423,63.619362,...,72.150347,66.404494,57.137027,40.765040,44.417993,44.104674,35.570422,27.447950,52.284162,4
3140,15416,48227,Howard,Texas,48.845005,20.823386,61.585942,59.047781,51.892534,60.885290,...,67.055296,50.714286,40.962622,62.054417,71.032446,54.109425,52.044352,75.341990,57.743871,1
3141,15417,54099,Wayne,West Virginia,50.374963,57.364983,44.233455,59.216921,52.006527,59.208785,...,69.957336,54.615385,51.683118,42.842216,45.318001,45.359226,45.675735,34.407751,43.450367,4